Repository emmacbd/Caturday, pull requests merged in 2022-06, with the labels that each got.

#24 More styling for Caturday-- adding poster images for cats
  public/index.html
  src/App.css
  src/CatCards.css
  src/CatCards.tsx
  src/CatContainer.css
  src/CatDetails.css
  src/CatDetails.tsx
  src/FeaturedCat.css
  src/FeaturedCat.tsx
  src/index.css
  src/old-paper-horizontal.jpeg
Labels: CSS

#25 Origin/testing/cypress
  cypress.config.ts
  cypress/e2e/1-getting-started/todo.cy.js
  cypress/e2e/2-advanced-examples/actions.cy.js
  cypress/e2e/2-advanced-examples/aliasing.cy.js
  cypress/e2e/2-advanced-examples/assertions.cy.js
  cypress/e2e/2-advanced-examples/connectors.cy.js
  cypress/e2e/2-advanced-examples/cookies.cy.js
  cypress/e2e/2-advanced-examples/cypress_api.cy.js
  cypress/e2e/2-advanced-examples/files.cy.js
  cypress/e2e/2-advanced-examples/local_storage.cy.js
  cypress/e2e/2-advanced-examples/location.cy.js
  cypress/e2e/2-advanced-examples/misc.cy.js
  cypress/e2e/2-advanced-examples/navigation.cy.js
  cypress/e2e/2-advanced-examples/network_requests.cy.js
  cypress/e2e/2-advanced-examples/querying.cy.js
  cypress/e2e/2-advanced-examples/spies_stubs_clocks.cy.js
  cypress/e2e/2-advanced-examples/traversal.cy.js
  cypress/e2e/2-advanced-examples/utilities.cy.js
  cypress/e2e/2-advanced-examples/viewport.cy.js
  cypress/e2e/2-advanced-examples/waiting.cy.js
  cypress/e2e/2-advanced-examples/window.cy.js
  cypress/e2e/allCatsSpec.cy.ts
  cypress/e2e/catDetailSpec.cy.ts
  cypress/e2e/homeSpec.cy.ts
  cypress/fixtures/aegeData.json
  cypress/fixtures/catData.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
  src/CatContainer.tsx
  src/CatFilter.tsx
Labels: testing

#27 Refactor/css/media/ow
  cypress/e2e/1-getting-started/todo.cy.js
  cypress/e2e/2-advanced-examples/actions.cy.js
  cypress/e2e/2-advanced-examples/aliasing.cy.js
  cypress/e2e/2-advanced-examples/assertions.cy.js
  cypress/e2e/2-advanced-examples/connectors.cy.js
  cypress/e2e/2-advanced-examples/cookies.cy.js
  cypress/e2e/2-advanced-examples/cypress_api.cy.js
  cypress/e2e/2-advanced-examples/files.cy.js
  cypress/e2e/2-advanced-examples/local_storage.cy.js
  cypress/e2e/2-advanced-examples/location.cy.js
  cypress/e2e/2-advanced-examples/misc.cy.js
  cypress/e2e/2-advanced-examples/navigation.cy.js
  cypress/e2e/2-advanced-examples/network_requests.cy.js
  cypress/e2e/2-advanced-examples/querying.cy.js
  cypress/e2e/2-advanced-examples/spies_stubs_clocks.cy.js
  cypress/e2e/2-advanced-examples/traversal.cy.js
  cypress/e2e/2-advanced-examples/utilities.cy.js
  cypress/e2e/2-advanced-examples/viewport.cy.js
  cypress/e2e/2-advanced-examples/waiting.cy.js
  cypress/e2e/2-advanced-examples/window.cy.js
  cypress/e2e/allCatsSpec.cy.ts
  public/index.html
  src/App.css
  src/App.tsx
  src/CatCards.css
  src/CatCards.tsx
  src/CatContainer.css
  src/CatContainer.tsx
  src/CatDetails.css
  src/CatDetails.tsx
  src/CatFilter.tsx
  src/FeaturedCat.css
  src/NavBar.css
  src/index.css
Labels: CSS, testing

#29 Start README
  README.md
  docs/errorCat.png
  docs/sampleCat.png
  src/App.tsx
  src/CatDetails.tsx
  src/logo.svg
Labels: documentation
